{{#partial "content"}}


    <h1>Team list!</h1>

    {{#if teams}}
        {{#each teams }}
            <p>{{ teamName }} <br>{{ description }}<br><a href="/teams/{{id}}">Details</a></p>
        {{/each}}
    {{else}}
        <p>No teams!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}