{{#partial "content"}}
    <!--<h1>Add a new Team</h1>-->

    <!--<form action="/teams" method="post">-->
        <!--<label for="name">Team name</label>-->
        <!--<input id="name" name="name" type="text">-->

    {{#if editMember}}
        <h1>Edit this member!</h1>
        <form action="/members/update" method="post">
            <select name="editMemberId" id="editMemberId">
                {{#each members}}
                    <option value="{{id}}">{{memberName}}</option>
                {{/each}}
            </select>
            <label for="name">Edit this members name</label>
            <input id="newMemberName" name="newMemberName" type="text" placeholder="new member name">

    {{else}}
            <h1>Add a new Member!</h1>

        <form action="/members" method="post">
            <label for="name">Member Name</label>
            <input id="name" name="name" type="text">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>

    {{/if}}

{{/partial}}

{{> layout.hbs}}