{{#partial "content"}}

    <h1>Post list!</h1>

    {{#if team}}
        {{#each team }}
            <p>team name:</p>
            <p>{{ teamName }}</p><br>
            <h5>Description:</h5>
            <p> {{description }}</p><br>
            <h5>members:</h5>
            <p> {{members }}</p>

            <a href="/">Go Back</a>
        {{/each}}
    {{else}}
        <p>No teams!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}